body {
  background: #0b0e20;
}
.hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem auto;
  justify-content: center;
  align-items: center;
}

.hero .left {
  padding: 1rem;
}

.hero h1 {
  padding: 0.5rem 0;
  color: #fff;
  letter-spacing: 3px;
}
.hero p {
  color: #fff;
}
.hero .input-container {
  padding: 1rem 0;
}

.hero .right {
  padding: 1rem;
}

.hero .img-container {
  width: 100%;
  display: flex;
}

.hero img {
  max-width: 80%;
  margin: auto;
}

@media screen and (max-width: 940px) {
  .hero .container {
    grid-template-columns: 1fr;
    margin: 1rem 0;
  }
}
